<section
  class="hero"
  role="banner"
  aria-labelledby="hero-title"
  [style.minHeight]="'50vh'"
>
  <div class="carousel-image-container">
    <div 
      class="carousel-image-item"
      *ngFor="let banner of banners; let i = index"
      [class.active]="i === currentIndex"
      [style.backgroundImage]="'url(' + banner.image + ')'"
      aria-hidden="true"
    ></div>
  </div>

  <div class="overlay overlay--left" aria-hidden="true"></div>

  <div class="hero-inner">
    <div class="hero-text">
      <img
        [src]="'assets/its-a-lifestyle.svg'"
        class="logo"
        alt="Company logo"
      />
    </div>
  </div>

</section>
<!-- 
<section class="categories-section" aria-labelledby="categories-heading" #shopSection>
    <h2 id="categories-heading" class="visually-hidden">Product Categories</h2>
    <lib-categories [iconSet]="'gl-icons'"></lib-categories>
  </section> -->
  
  <section class="shop-section" aria-labelledby="shop-heading">
    <h2 id="shop-heading" class="visually-hidden">Shop Products</h2>

    <!-- Loading Spinner (Shown when isLoading is true) -->
    <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <!-- Shop Component (Shown when isLoading is false) -->
    <lib-merch-shop *ngIf="!isLoading"></lib-merch-shop>
</section>
