<!-- Contact Page Template -->
<main>
  <!-- Hero Section -->
  <section aria-labelledby="contact-hero-heading">
    <h2 id="contact-hero-heading" class="visually-hidden">Contact Page Hero</h2>
    <app-hero 
      singleImage="https://storage.googleapis.com/the-website-guys/Flower-Power/carousel1.jpg"
      title="Contact"
      [subtitle]="''"
      [buttons]="[]"
      [heroHeight]="'30vh'">
    </app-hero>
  </section>


  <!-- Contact Form Section -->
  <section aria-labelledby="contact-form-heading">
    <h2 id="contact-form-heading" class="visually-hidden">Contact Form</h2>
    <lib-contact></lib-contact>
  </section>

  <!-- Business Details Section -->
  <section aria-labelledby="business-details-heading">
    <h2 id="business-details-heading" class="visually-hidden">Business Details</h2>
    <app-business-details></app-business-details>
  </section>
</main>
