<!-- Hero Section -->
<section aria-labelledby="hero-heading">
  <h2 id="hero-heading" class="visually-hidden">Welcome to Good Life Collective</h2>
  <app-hero 
    singleImage="https://storage.googleapis.com/the-website-guys/Good-Life-Collective-Rochester/carousel0.jpg"
    title="Who is Good Life Collective?"
    [subtitle]="''"
    [buttons]="[]"
    [heroHeight]="'30vh'">
  </app-hero>
</section>

<!-- Marquee Section -->
<section aria-label="Featured News and Announcements">
  <app-marquee></app-marquee>
</section>


<!-- Business Details Section -->
<section aria-labelledby="business-details-heading">
  <h2 id="business-details-heading" class="visually-hidden">Business Details</h2>
  <app-business-details></app-business-details>
</section>
