<app-hero 
  singleImage="assets/banner2.jpg"
  title="Who is Flower Power?"
  [subtitle]="''"
  [buttons]="[
  ]"
  [heroHeight]="'30vh'">
</app-hero>

<app-marquee></app-marquee>

<app-app-display 
  title="Meet The Owner"
  description="Our founder Angelo has worn many hats: family man, licensed electrician, and advocate."
  subdescription="For Angelo, whose family immigrated to Queens from Greece when he was a child, Flower Power Dispensers is the manifestation of decades of hard work and sacrifice and is a dream come true."
  imageUrl="assets/angelo.jpeg"
  buttonOneText=""
  buttonTwoText=""
  buttonOneLink=""
  buttonTwoLink="">
</app-app-display>

<app-business-details></app-business-details>