<div class="age-verification-overlay" *ngIf="showAgeVerification">
  <div class="age-verification-box">
    <ng-container *ngIf="!showLocationSelection; else locationStep">
      <div class="content">
        <img style="width: 200px;" src="assets/good-life-logo.png" alt="">
        <p class="verification-text">Are you 21 years old or older?</p>
      </div>
      <div class="button-group">
        <button (click)="onYesClick()" class="yes-btn">Yes</button>
        <button (click)="onNoClick()" class="no-btn">No</button>
      </div>
    </ng-container>

    <ng-template #locationStep>
      <lib-location-selection (locationChosen)="onLocationChosen($event)"></lib-location-selection>
    </ng-template>
  </div>
</div>
