<app-hero 
  singleImage="https://storage.googleapis.com/the-website-guys/Flower-Power/carousel2.jpg"
  title="Exclusive Loyalty Rewards For You"
  [subtitle]="'Join our loyalty program and earn points on every purchase.<br>Be the first to know about new products and special deals!'"
  [buttons]="[
    { text: 'Sign Up', class: 'btn-primary', link: '/register'},
    { text: 'Login', class: 'btn-secondary', link: '/login' }
  ]"
  [heroHeight]="'50vh'">
</app-hero>

<app-app-display 
  buttonOneText="Download on Apple Store"
  buttonTwoText="Download on Google Play"
  buttonOneLink="https://apps.apple.com/us/app/flower-power-dispensers/id6741185131"
  buttonTwoLink="https://play.google.com/store/apps/details?id=com.flowerpowerdispensers.app&pcampaignid=web_share">
</app-app-display>
