<section class="hero" role="banner" aria-labelledby="hero-title" [ngStyle]="{'background-image': 'url(' + (singleImage ? singleImage : images[currentIndex]) + ')', 'height': heroHeight}">
  <div class="overlay" aria-hidden="true"></div>
  <div class="hero-content">
    <h1 id="hero-title">{{ title }}</h1>
    <p [innerHTML]="subtitle"></p>
    <div class="buttons">
      <button *ngFor="let btn of buttons" [class]="btn.class" [routerLink]="btn.link">
        {{ btn.text }}
      </button>
    </div>
  </div>
</section>
