<section class="ad-section" aria-labelledby="categories-heading">
  <lib-ad-banner></lib-ad-banner>
</section>

<section class="categories-section" aria-labelledby="categories-heading"#shopSection>
    <h2 id="categories-heading" class="visually-hidden">Product Categories</h2>
    <lib-categories [iconSet]="'gl-icons'"></lib-categories>
  </section>
  
  <section class="shop-section" aria-labelledby="shop-heading">
    <h2 id="shop-heading" class="visually-hidden">Shop Products</h2>

    <!-- Loading Spinner (Shown when isLoading is true) -->
    <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <!-- Shop Component (Shown when isLoading is false) -->
    <lib-shop *ngIf="!isLoading"></lib-shop>
</section>
