.blog-detail-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  
    h1 {
      font-size: 26px;
      margin-bottom: 20px;
    }
  
    img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 16px;
      line-height: 1.6;
    }
  
    h3 {
      margin-top: 20px;
      font-size: 20px;
    }
  }
  