<section class="featured-section" aria-labelledby="featured-section-heading">
    <div class="text-content">
      <h2 id="featured-section-heading">{{ title }}</h2>
      <p>{{ description }}</p>
      <p>{{ subdescription }}</p>
  
      <!-- Conditionally Render Buttons -->
      <div class="buttons" *ngIf="buttonOneText || buttonTwoText">
        <a *ngIf="buttonOneText" [href]="buttonOneLink" class="btn-primary">
          {{ buttonOneText }}
        </a>
        <a *ngIf="buttonTwoText" [href]="buttonTwoLink" class="btn-secondary">
          {{ buttonTwoText }}
        </a>
      </div>
    </div>
    <div class="image-content">
      <img
        [src]="'assets/its-a-lifestyle.svg'"
        class="logo"
        alt="Company logo"
      />
    </div>
  </section>
  