<main class="bg-gradient">
    <!-- Marquee Section -->

  
    <!-- Hero Section -->
    <section aria-labelledby="hero-section-heading">
      <h1 id="hero-section-heading" class="visually-hidden">Main Promotional Banner</h1>
      <app-hero></app-hero>
    </section>

        <section aria-label="Announcements">
      <app-marquee></app-marquee>
    </section>
<!-- 
    <section aria-labelledby="location-section-heading">
      <h2 id="location-section-heading" class="visually-hidden">Location Selection</h2>
      <lib-location-selection></lib-location-selection>
    </section> -->
  
    <!-- Category and Shop Section -->
    <section appScrollAnimation aria-labelledby="category-section-heading">
      <h2 id="category-section-heading" class="visually-hidden">Product Categories and Shop</h2>
      <app-category-section></app-category-section>
    </section>

      <div appScrollAnimation class="product-carousel-section" role="region" aria-labelledby="newest-products-heading">
      <!-- Loading Spinner (Shown when isLoading is true) -->
        <!-- <div class="spinner-container" *ngIf="isLoading">
          <mat-spinner></mat-spinner>
        </div> -->

        <!-- Carousel (Shown when isLoading is false) -->
         <div class="product-carousel">
          <lib-products-carousel category="Flower" [limit]="10"></lib-products-carousel>
         </div>

        <app-banner
          background="assets/feature1.jpg"
          title="Elevating The Experience"
          subtitle="Welcome to Good Life Collective, your “go to” destination for a curated cannabis experience. At Good Life, we redefine expectations by prioritizing unparalleled product quality and an immersive, safe environment."
          buttonText="EXPLORE MORE"
          buttonLink="/shop">
        </app-banner>

        <div appScrollAnimation class="product-carousel">
                <lib-products-carousel category="Vapes" [limit]="10"></lib-products-carousel>
        </div>

        <app-banner
          background="assets/hero5.jpg"
          title="Shop For What You Want, They Way You Want"
          subtitle="Good Life makes it easy to access the highest quality cannabis products and accessories."
          buttonText="SHOP NOW"
          buttonLink="/shop">
        </app-banner>

        <div appScrollAnimation class="product-carousel">
            <lib-products-carousel category="Edibles" [limit]="10"></lib-products-carousel>
        </div>

      </div>
    
  
    <!-- Business Details Section -->
    <section aria-labelledby="business-details-heading">
      <h2 id="business-details-heading" class="visually-hidden">Business Details</h2>
      <app-business-details
        [lat]="43.1566"
        [lng]="-77.6088"
        [address]="'123 Example St, Rochester, NY 14604'"
        [phone]="'585-555-1234'"
        [hours]="[
          'Monday – Thursday: 10:00 AM – 9:00 PM',
          'Friday – Saturday: 10:00 AM – 10:00 PM',
          'Sunday: 11:00 AM – 7:00 PM'
        ]"
      ></app-business-details>

      <div class="faq-section">
       <app-faq></app-faq>
      </div>



    </section>
          <app-banner
          background="assets/feature3.jpg"
          title="Everything For Everyone"
          subtitle="Whether you are an experienced user or new to cannabis, the Good Life Collective team is here to guide and assist you, ensuring you find the perfect products for your needs. We offer a diverse line of cannabis products in all forms of consumption."
          buttonText="FIND YOURS"
          buttonLink="/shop">
        </app-banner>

    <!-- Customer Reviews Section -->
    <section aria-labelledby="reviews-heading">
      <h2 id="reviews-heading" class="visually-hidden">Customer Reviews</h2>
      <app-google-review></app-google-review>
    </section>
  
    <!-- Promotional Banner Section -->
    <!-- <section aria-labelledby="banner-section-heading">
      <h2 id="banner-section-heading" class="visually-hidden">Promotional Banner</h2>
      <app-banner></app-banner>
    </section> -->

    <!-- <section aria-labelledby="banner-section-heading">
      <h2 id="banner-section-heading" class="visually-hidden">FAQ</h2>
      <app-faq></app-faq>
    </section> -->
  </main>
  